@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Reset some default browser styles */
:root {
  --color-primary: #e9724c;
  --color-secondary: #ffcb03;
  --color-tertiary: #e9724c;
  --color-primary-darker: #e9724c;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #06bee1, #1768ac);
  --gradient-secondary: linear-gradient(to top left, #e9724c, #c5283d);
  --background-color: #19212D;
  --light-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #19212D;
  line-height: 1.9;
  background-color: #ddd;
}

/* /////  NAVBAR /////  */
.navbar{
  background-color: #ddd;
  padding: 10;
  margin: 0;
}

.navbar-brand{
  font-size: 20px;
  background: -webkit-linear-gradient(#3868e3, #2fb74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-left: 20px;
}

.btn-outline-dark {
  color: #19212D;
  border-color: #19212D;
  font-weight: bold;
  margin-right: 20px;
}
.navbar.bg-custom {
  background-color: #ddd; /* Change to your desired background color */
}

/* /////  HOME PAGE  /////  */

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  
}


.centered-button {
  margin: 0 10px;
  display: flex;
  align-items: center; /* Add some space between buttons */
}

.h1-home {
  font-size: 1.2rem;
}
.h2-home {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(#3868e3, #2fb74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.h3-home {
  color: #048e24;
  font-size: 1.8rem;
}

.curriculum-btn {
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}


/* /////  ABOUT PAGE  /////  */

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19212D;
  color: #ddd;
  height: 100vh; /* Adjust as needed */
}
.h1-about  {
  font-size: 4rem;
  background: -webkit-linear-gradient(#2fb74f,#3868e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}
.h2-about {
  font-size: 1.2rem;
  
}

/* /////  PROJECTS PAGE  /////  */
.projects-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19212D;
  color: #ddd;
  height: 100vh; /* Adjust as needed */
}

.h1-projects {
  font-size: 4rem;
  background: -webkit-linear-gradient(#2fb74f,#3868e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}







/* CSS */
.curriculum-btn {
  align-items: center;
  background-image: linear-gradient(144deg,#2fb74f,#3868e3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.curriculum-btn:active,
.curriculum-btn:hover {
  outline: 0;
}

.curriculum-btn span {
  background-color: var(--background-color);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.curriculum-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .curriculum-btn {
    font-size: 24px;
    min-width: 196px;
  }
}