@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Reset some default browser styles */
:root {
  --color-primary: #e9724c;
  --color-secondary: #ffcb03;
  --color-tertiary: #e9724c;
  --color-primary-darker: #e9724c;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #06bee1, #1768ac);
  --gradient-secondary: linear-gradient(to top left, #e9724c, #c5283d);
  --background-color: #121212;
  --light-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #19212D;
  line-height: 1.9;
  background-color: #ddd;
}

/* /////  NAVBAR /////  */
.navbar{
  background-color: #ddd;
  display: flex;
  color:#121212;
  padding: 10;
  margin: 0;
  

}



.navbar-brand{
  font-size: 20px;
  background: -webkit-linear-gradient(#3868e3, #2fb74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-left: 20px;
  

  
}

.btn-outline-dark {
  color: #121212;
  border-color: #121212;
  font-weight: bold;
  margin-right: 20px;
  
}


/* /////  HOME PAGE  /////  */



.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  position: relative;
  background-color: #ddd;
  opacity: 1;
  background-image:  linear-gradient(30deg, #e1e1e1 12%, transparent 12.5%, transparent 87%, #e1e1e1 87.5%, #e1e1e1), linear-gradient(150deg, #e1e1e1 12%, transparent 12.5%, transparent 87%, #e1e1e1 87.5%, #e1e1e1), linear-gradient(30deg, #e1e1e1 12%, transparent 12.5%, transparent 87%, #e1e1e1 87.5%, #e1e1e1), linear-gradient(150deg, #e1e1e1 12%, transparent 12.5%, transparent 87%, #e1e1e1 87.5%, #e1e1e1), linear-gradient(60deg, #e1e1e177 25%, transparent 25.5%, transparent 75%, #e1e1e177 75%, #e1e1e177), linear-gradient(60deg, #e1e1e177 25%, transparent 25.5%, transparent 75%, #e1e1e177 75%, #e1e1e177);
  background-size: 38px 67px;
  background-position: 0 0, 0 0, 19px 33px, 19px 33px, 0 0, 19px 33px;
}


.centered-button {
  margin: 0 10px;
  display: flex;
  align-items: center; /* Add some space between buttons */
}

.h1-home {
  font-size: 1.2rem;
}
.h2-home {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(#3868e3, #2fb74f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.h3-home {
  color: #048e24;
  font-size: 1.8rem;
}

.curriculum-btn {
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}


/* /////  ABOUT PAGE  /////  */

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #121212;
  color: #ddd;
  height: 110vh; /* Adjust as needed */
}
.h1-about  {
  font-size: 4rem;
  background: -webkit-linear-gradient(#2fb74f,#3868e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1-about-2{
  font-size: 1.9rem;
}
.h2-about {
  font-size: 1.3rem;
  
}
.h3-about{
  font-size: 1rem;
}

/* /////  PROJECTS PAGE  /////  */
.projects-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ddd;
  height: 110vh; /* Adjust as needed */
}

.h1-projects {
  font-size: 4rem;
  background: -webkit-linear-gradient(#2fb74f,#3868e3);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-card{
  height: 35rem;
   width: 17rem;
   margin: 15px;
   display: inline-block;
   border-radius:10px;
  background-color: #ddd;
  -webkit-box-shadow: 10px 10px 15px -1px rgba(54,125,189,0.27);
  -moz-box-shadow: 10px 10px 15px -1px rgba(54,125,189,0.27);
  box-shadow: 10px 10px 15px -1px rgba(54,125,189,0.27);
  
 }
 
 .projects-card-img {
   width: 100%;
   margin: auto; 
   padding-top: 10px;
   padding-bottom: 10px;
 }
 
 .h2-projects {
  font-size: 2.5rem;
  background: #121212;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-button {
  margin: 5px;
}







/* Curriculum */
.curriculum-btn {
  align-items: center;
  background-image: linear-gradient(144deg,#2fb74f,#3868e3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 50px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.curriculum-btn:active,
.curriculum-btn:hover {
  outline: 0;
}

.curriculum-btn span {
  background-color: var(--background-color);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.curriculum-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .curriculum-btn {
    font-size: 24px;
    min-width: 196px;
  }
}



.contact-page {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ddd;
  height: 100vh; /* Adjust as needed */
}

.about-tabs{
  display: flex;
  background-color: #121212;
  margin: 2px;
  
}
.about-tabs-names{
  padding-top: 1%;
  display: flex;  
  color: #ddd;
  

}

.skills{
  display: flex;
  flex-wrap: wrap;
}

.tab-content-skills {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background: rgba(153,153,153,.2);
  border-radius: 10px;
  font-weight: 400;
  color: #ddd;
  
}

.education-content {
  padding-top: 1rem;
}

